@charset "UTF-8";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import "home.css";
@import "menu.css";
@import "news.css";

html {
  font-size: 100%;
}

body {
  font-family: "Philosopher", sans-serif;
  line-height: 1.7;
  color: #432;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #0bd;
}

/* Media Query */

@media (max-width: 600px) {
  /* HOME PAGE */
  .header {
    flex-direction: column;
    align-items: center;
  }

  .page-title {
    font-size: 2.5rem;
  }

  .nav-container__main-nav {
    font-size: 1.3rem;
    margin-top: 10px;
  }

  .main-nav__list {
    margin: 0 20px;
  }

  .home-content {
    margin-top: 20%;
  }

  .home-description {
    margin: 20% 8%;
  }

  .home-button {
    font-size: 0.8rem;
  }

  /* NEWS PAGE */
  .news__contents {
    flex-direction: column;
  }

  .contents__article,
  .contents__aside {
    width: 100%;
    padding: 0 1%;
  }

  #news .page-title {
    margin-top: 8%;
  }

  .contents__aside {
    margin-top: 60px;
  }

  .article__post-info {
    margin-bottom: 30px;
  }

  .post-info__date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }

  .post-info__date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }

  .post-info__title,
  .post-info__category {
    margin-left: 80px;
  }

  .post-info__title {
    font-size: 1.375rem;
  }

  .post-info__category {
    font-size: 0.875rem;
    margin-top: 10px;
  }
}
