@charset "UTF-8";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");

html {
  font-size: 100%;
}

body {
  font-family: "Philosopher", sans-serif;
  line-height: 1.7;
  color: #432;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #0bd;
}

/* bg img */

#home {
  background-image: url(../images/main-bg.jpg),
    linear-gradient(#c9ffbf, #ffafbd);
  min-height: 100vh;
  background-blend-mode: luminosity;
}

.big-bg {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}

.header__logo {
  width: 210px;
  margin-top: 14px;
}

.nav-container__main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__list {
  margin-left: 36px;
}

/* HOME */

.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-title {
  font-size: 5rem;
  font-weight: normal;
}

.home-description {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

.home-button {
  font-size: 1.375rem;
  background-color: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.home-button:hover {
  background: #0090aa;
  color: #fff;
}
